/* ----- CSS Reset ----- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ----- My Own CSS ----- */

* {
	box-sizing: border-box;
}

body {
	background-color: #33333f;
	font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	font-size: 13pt;
	line-height: 1.7em;
	color: #333333;

	-webkit-font-smoothing: antialiased; 
	-apple-font-smoothing: antialiased; 
	font-smoothing: antialiased; 
	text-rendering: optimizeLegibility; 
	-webkit-font-feature-settings: "kern"; 
	-moz-font-feature-settings: "kern"; 
	-moz-font-feature-settings: "kern=1"; 
	-ms-font-feature-settings: "kern"; 
	-o-font-feature-settings: "kern"; 
	font-feature-settings: "kern"; 
	font-kerning: normal; 
}


a {
	text-decoration: none;
	color: #ffffff;
}

b, strong {
	font-weight: bold;
} 

i, em {
	font-style: italic;
}

footer {
	padding: 50px;
	background-color: rgba(255, 255, 255, 0.05);
	color: #ffffff;
	text-align: center;
}

p {
	font-size: 1.0em;
	margin-bottom: 1.5em;
}


h1 {
	font-family: "Circular Std";
	font-weight: 700;
	font-size: 2.0em;
	line-height: 1.6em;
	color: #ffffff;
	margin-bottom: 1em;
}

h2 {
	font-family: "Circular Std";
	font-weight: 700;
	font-size: 1.60em;
	letter-spacing: -0.35pt;
	line-height: 1.6em;
	color: #182837;
	margin-bottom: 1em;
}

h3 {
	font-weight: 700;
	font-size: 1.3em;
	line-height: 1.6em;
	color: #182837;
	margin-top: 2em;
	margin-bottom: 1em;
}

h4 {
	font-weight: 400;
	font-size: 1.15em;
	line-height: 1.5em;
	color: #777777;
	margin-bottom: 0.5em;
}

h5 {
	font-weight: 700;
	font-size: 1.1em;
	line-height: 1.5em;
	color: #444444;
	margin-bottom: 0.5em;
}

h6 {
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5em;
	color: #aaaaaa;
	margin-bottom: 0.5em;
}




blockquote, q {
	font-style: italic;
	font-weight: 400;
	font-size: 1.1em;
	line-height: 1.6em;
	color: #444444;
	margin-top: 1em;
	margin-bottom: 1em;
}

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: disc;
}

li {
	margin-left: 20px;
}


blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

hr {
	border: 0px;
	height: 1px;
	background-color: #dddddd;
}




/* General */

.spacer { 
	height: 50px;
}

.spacer-section { 
	height: 150px;
}

.section-divider {
	margin: auto;
	margin-top: 125px;
	margin-bottom: 70px;
	max-width: 850px;
}

.highlight-1 {
	color: #777788;
	font-size: 0.9em;
	font-weight: 700;
	text-transform: uppercase;
}

.highlight-2 {
	color: #9999aa;
	font-size: 1.1em;
	font-weight: 300;
}

.highlight-3 {
	color: #777788;
	font-size: 0.9em;
	font-weight: 700;
	font-style: italic;
}

.highlight-4 {
	color: #0fd2ae;
/*	font-size: 1.2em;*/
	font-weight: 900;
	text-transform: uppercase;
}

.bold {
	font-weight: 600;
}

.italic {
	font-style: italic;
}


/* Index Page */

.decorative-bar {
	height: 0px;
	background: linear-gradient(to right, #4E90F4, #2FFEDB, #FFAEFC, #FFCD7F);
}

.navigation {
	font-family: "Circular Std";
	height: 100px;
	margin: 0 auto;
	max-width: 1200px;
	width:85%;
	font-size: 13pt;
}

.nav-logo {
	width: 50px;
	height: 50px;
	text-decoration: none;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: left;
}

.nav-link {
	float: right;
	margin-left: 7%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.nav-link:link {

} 

.nav-link:hover {
	box-shadow: inset 0px -3px #50ebbe;
	/*	transition: border-bottom 0.1s ease-in-out;	*/
	color: #ffffff;
} 

.nav-link:active {
	box-shadow: inset 0px -3px #50ebbe;
	color: #ffffff;
} 

.nav-link:visited {

}

.hero {
	font-family: "Circular Std";
	position: relative;
	height: 80vh;
	min-height: 500px;
	max-height: 1000px;
}

.hero-contents {
	position: absolute;
	top: 50%;
	transform: translateY(-65%);
	padding-left: 10%;
	padding-right: 10%;
	text-align: left;
	text-decoration: none;
	line-height: 48px;
	/*	margin-left: 4%;
	margin-right: 4%;
	padding-left: 8%;
	padding-right: 8%;
	border-left: 1px rgba(255,255,255,0.3) solid;*/
}

.hero-heading {
	display: inline-block;
	letter-spacing: -2pt;
	font-size: 40pt;
	font-weight: 900;
	color: #ffffff;
	margin-bottom: 35px;
	max-width: 400px;
}

.hero-tags {
	margin-top: 0vh;
	font-size: 17pt;
	font-weight: 700;
	color: rgba(210,210,255,0.4);
	max-width: 600px;
	line-height: 32px;
	margin-bottom: 25px;
}

.hero-text {
	margin-top: 0vh;
	font-size: 17pt;
	font-weight: 300;
	color: rgba(210,210,255,0.9);
	max-width: 600px;
}

.hero-color-highlight {
	background: linear-gradient(to right, #f7b0fe, #7fc9ff);
	-webkit-background-clip: text;
	color: rgba(255,255,255,0.1);
}

.hero-white-highlight {
	color: rgba(255,255,255,1);
}

.projects-grid {
	display: grid;
	margin: 0 auto;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 100px;
	width:97%;
	margin-bottom: 200px;
}





/* Index Cards */

.card {
	font-family: "Circular Std";
	font-weight: 400;
	font-size: 1em;
	line-height: 2em;
	margin: 0 auto;
	overflow: hidden;
	transition: 0.2s;
	width: 300px;
	border-radius: 10px;
	background-color: rgba(245,245,255,0.95);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	height: 450px;
}

.card:hover {
	/*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
	box-shadow: 0 16px 28px rgba(0,0,0,0.25), 0 12px 10px rgba(0,0,0,0.22);
	transform: translate(0, -8px);
}



.card-image {
	width: 100%;
	height: 225px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.card-text {
	padding: 14px 20px 15px 25px

}

.card-text-tags {
	color: rgba(0,0,0,0.35);
	font-size: 11pt;
	font-weight: 700;
	margin-bottom: 3px;
}

.card-text-title {
	color: rgba(0,0,0,0.8);
	font-size: 16pt;
	font-weight: 700;
	margin-bottom: 15px;
}

.card-divider {
	margin-left: 0 auto;
	background: #aaa;
	width: 20px;
	height: 4px;
	border-radius: 10px;
	margin-bottom: 15px;
}

.card-text-desc {
	color: rgba(0,0,0,0.55);
	font-size: 12pt;
	font-weight: 400;
	line-height: 20pt;
}







/* Project Page */

.project-page {
	background-color: #ffffff;
	padding-top: 100px;
	padding-bottom: 100px;
}

.project-page-banner {
	width: 100%;
	height: 650px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.project-page-desc {
	height: 5px;
	background-color: #ffffff;
}

.project-page-prose {
	max-width: 750px;
	margin: auto;
}

.project-page-prose li {
	font-size: 1.0em;
	padding-left: 10px;
	margin-bottom: 20px;
}

.project-page-compact-list li {
	margin-top: 0px;
	margin-bottom: 0.5em;
}

.project-page-image {
	margin: 0 auto;
	text-align: center;
	max-width: 750px;
	margin-top: 35px;
	margin-bottom: 35px;
}

.project-page-image img {
	width: 100%;
}

.project-page-video {
	margin: 0 auto;
	max-width: 750px;
	margin-top: 35px;
	margin-bottom: 35px;
}


.width-limiter-1920 {
	max-width: 1920px;
	margin: 0 auto;
}

.width-limiter-1200 {
	max-width: 1200px;
	margin: 0 auto;
}


.width-limiter-narrower {
	max-width: 450px;
	margin: 0 auto;
}

.width-limiter-narrow {
	max-width: 600px;
	margin: 0 auto;
}

.width-limiter-regular {
	max-width: 750px;
	margin: 0 auto;
}

.width-limiter-wide {
	max-width: 850px;
	margin: 0 auto;
}

.width-limiter-wider {
	max-width: 1200px;
	margin: 0 auto;
}


.width-limiter-350 {
	max-width: 350px;
	margin: 0 auto;
}

.width-limiter-300 {
	max-width: 300px;
	margin: 0 auto;
}

.width-limiter-250 {
	max-width: 250px;
	margin: 0 auto;
}

.width-limiter-200 {
	max-width: 200px;
	margin: 0 auto;
}


.width-limiter-150 {
	max-width: 150px;
	margin: 0 auto;
}

.width-limiter-25 {
	max-width: 25px;
	margin: 0 auto;
}




.border-single {
	border: 1px solid #dddddd;
	padding: 0px;
	border-radius: 3px;
}

.border-double {
	border: 1px solid #dddddd;
	padding: 2px;
	border-radius: 3px;
}

.border-rounded {
	border-radius: 10px;
}

.border-single-thick {
	border: 1px solid #dddddd;
	padding: 10px;
	border-radius: 3px;
}

.shadow-light {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.shadow-medium {
	box-shadow: 0 8px 20px 0 rgba(0,0,0,0.3);
}

.shadow-dark {
	box-shadow: 0 16px 40px 0 rgba(0,0,0,0.4);
}




.image-grid-3 {
	display: grid;
	margin: 0 auto;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	margin-bottom: 200px;
}

.image-grid-2 {
	display: grid;
	margin: 0 auto;
	grid-template-columns: repeat(2, 1fr);
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	margin-bottom: 200px;
}


.overview-grid {
	display: grid;
	grid-template-columns: 60% 25%;
	grid-column-gap: 15%;
}


.grid-item img {
	width: 100%;
}









.app-icon:hover {
	/*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
	transform: translate(0, -2px);
}


.anchor-link {
	color: #3AB8B3;
}

.anchor-link:hover {
	text-decoration: underline;
}




/* Carousel */

.carousel {
	padding-top: 65px;
	padding-bottom: 25px;
	width: 100%;
}

.carousel-cell {
	width: 225px;
	margin-right: 50px;
}

.carousel-cell img {
	height: 100%;
	width: 100%;
}

.caption {
	margin-top: 10px;
	text-align: center;
	line-height: 1.7em;
	font-size: 0.85em;
}

.flickity-page-dots {
  top: 25px;
  bottom: 95%;
}

.carousel-nav .carousel-cell.is-nav-selected {
  background: #ED2;
}

.carousel-dark {
	background-color: #333333;
	color: #ffffff;
}


.carousel-dark .flickity-page-dots .dot {
	  width: 12px;
	  height: 12px;
	  opacity: 1;
	  background: transparent;
	  border: 2px solid white;
	}

.carousel-dark .flickity-page-dots .dot.is-selected {
	  background: white;
}




/*-- Responsiveness --*/


/* Tablet */
@media only screen and (max-width: 1075px) {
	.projects-grid {
		display: grid;
		grid-row-gap: 100px;
		grid-template-columns: repeat(2, 1fr);
		width:90%;
	}
}

/* Mobile */
@media only screen and (max-width: 767px) {

	body {
		font-size: 13pt;
	}

	.width-limiter-1920 {
		width: 100%;
	}

	.navigation {
		font-size: 13pt;
		padding-right: 2%;
	}

	.hero {
		min-height: 400px;
	}

	.hero-contents {
		padding-left: 8%;
		padding-right: 8%;
		border: 0px;
	}

	.hero-heading {
		letter-spacing: -1pt;
		font-size: 28pt;
		margin-bottom: 40px;
	}

	.hero-tags {
		font-size: 14pt;
	}

	.hero-text {
		font-size: 15pt;
		line-height: 24pt;
		width: 100%;
		max-width: 400px;
	}

	.projects-grid {
		display: grid;
		grid-row-gap: 100px;
		grid-template-columns: repeat(1, 1fr);
		width:100%;
	}

	.project-page-banner {
		height: 300px;
	}

	.project-page-prose, .caption, .project-page-image {
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 20px;
		margin-right: 20px;
	}


	.spacer {
		height: 25px;
	}

	.spacer-section {
		height: 50px;
	}

	.section-divider {
		margin-top: 50px;
		margin-bottom: 25px;
		margin-left: 20px;
		margin-right: 20px;
	}


	.border-rounded {
		border-radius: 5px;
	}


	.image-grid-3 {
		grid-template-columns: repeat(1, 1fr);
	}

	.image-grid-2 {
		grid-template-columns: repeat(1, 1fr);
	}

	.image-grid-mobile-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.overview-grid {
		grid-template-columns: repeat(1, 1fr);
	}





}




/*-- Animations --*/














