/* ----- CSS Reset ----- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ----- My Own CSS ----- */

* {
	box-sizing: border-box;
}

body {
	background-color: #33333f;
	font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	font-size: 13pt;
	line-height: 1.7em;
	color: #333333;

	-webkit-font-smoothing: antialiased; 
	-apple-font-smoothing: antialiased; 
	font-smoothing: antialiased; 
	text-rendering: optimizeLegibility; 
	-webkit-font-feature-settings: "kern"; 
	-moz-font-feature-settings: "kern"; 
	-moz-font-feature-settings: "kern=1"; 
	-ms-font-feature-settings: "kern"; 
	-o-font-feature-settings: "kern"; 
	font-feature-settings: "kern"; 
	font-kerning: normal; 
}


a {
	font-weight: 700;
	text-decoration: none;
	color: #00bab0;
}

a:hover {
	text-decoration: underline;
}


b, strong {
	font-weight: bold;
} 

i, em {
	font-style: italic;
}



p {
	font-size: 1.0em;
	margin-bottom: 1.5em;
}


h1 {
	font-family: "Circular Std";
	font-weight: 700;
	font-size: 2.0em;
	line-height: 1.6em;
	color: #ffffff;
	margin-bottom: 1em;
}

h2 {
	font-family: "Circular Std";
	font-weight: 900;
	font-size: 1.9em;
	letter-spacing: -0.015em;
	line-height: 1.6em;
	color: #bbbbbf;
	margin-bottom: 1em;
}

h3 {
	font-weight: 700;
	font-size: 1.25em;
	line-height: 1.6em;
	color: #182837;
	margin-top: 2em;
	margin-bottom: 1em;
}

h4 {
	font-weight: 700;
	font-size: 1.15em;
	line-height: 1.5em;
	color: #777777;
	margin-bottom: 1em;
}

h5 {
	font-weight: 700;
	font-size: 1.1em;
	line-height: 1.5em;
	color: #444444;
	margin-bottom: 0.5em;
}

h6 {
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5em;
	color: #aaaaaa;
	margin-bottom: 0.5em;
}




blockquote, q {
	font-style: italic;
	font-weight: 400;
	font-size: 1.1em;
	line-height: 1.6em;
	color: #444444;
	margin-top: 1em;
	margin-bottom: 1em;
}

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: disc;
}

li {
	margin-left: 20px;
}


blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

hr {
	border: 0px;
	height: 1px;
	background-color: #dddddd;
}


footer {
	padding: 50px;
	background-color: #33333f;
	color: #aaaabb;
	text-align: center;
	font-size: 0.85em;
	font-weight: 500;
}

footer .fab, footer .fas{
	color: #aaaabb;
	padding: 0.5em;
}



/* General */

.spacer { 
	height: 50px;
}

.spacer-small { 
	height: 25px;
}

.spacer-section { 
	height: 150px;
}

.section-divider {
	margin: auto;
	margin-top: 125px;
	margin-bottom: 70px;
	max-width: 850px;
}

.highlight-1 {
	color: #777788;
	font-size: 0.9em;
	font-weight: 700;
	text-transform: uppercase;
}

.highlight-2 {
	color: #9999aa;
	font-size: 1.1em;
	font-weight: 300;
}

.highlight-3 {
	color: #777788;
	font-size: 0.9em;
	font-weight: 700;
	font-style: italic;
}

.highlight-4 {
	color: #0fd2ae;
	/*	font-size: 1.2em;*/
	font-weight: 900;
	text-transform: uppercase;
}

.highlight-5 {
	color: #aaaabb;
	font-size: 0.9em;
	font-weight: 700;
	text-transform: uppercase;
}

.bold {
	font-weight: 600;
}

.italic {
	font-style: italic;
}

.dark-theme h1, 
.dark-theme h2, 
.dark-theme h3, 
.dark-theme h4, 
.dark-theme h5, 
.dark-theme h6 {
	font-family: "Circular Std";
	color: #777788;
}

.dark-theme a {
	color: #50ebbe;
}

.dark-theme p {
	color: #ddddee;
	font-size: 14pt;
	line-height: 2em;
}

.dark-theme b {
	font-weight: 900;
	color: #ffffff;
}

.dark-theme .fab, .dark-theme .fas {
	color: #50ebbe;
	padding-right: 1em;
}







/* Index Page */

.decorative-bar {
	height: 0px;
	background: linear-gradient(to right, #4E90F4, #2FFEDB, #FFAEFC, #FFCD7F);
}

.navigation {
	font-family: "Circular Std";
	height: 100px;
	margin: 0 auto;
	/*	max-width: 1200px;*/
	max-width: 750px;
	width:85%;
	font-size: 13pt;
}

.navigation a {
	text-decoration: none;
	color: rgba(230,230,255,0.9);
	font-weight: inherit;
}

.nav-logo {
	width: 45px;
	height: 45px;
	opacity: 1;
	text-decoration: none;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
	float: center;
}

.nav-logo img {
	width: 100%;
}

.nav-logo:hover {
	opacity: 0.8;
}

.nav-link {
	transform: translateY(-27.5%);
	position: relative;
	margin-top: 0px;
	padding-bottom: 5px;
}

.nav-link-left {
	margin-right: 16%;
	float: left;
}

.nav-link-right {
	margin-left: 14%;
	float: right;
}

.nav-link:link {

} 

.nav-link:hover {
	box-shadow: 0px 3px #50ebbe;
	/*	transition: border-bottom 0.1s ease-in-out;	*/
	color: #ffffff;
} 

.nav-link:active {
	box-shadow: 0px 3px #50ebbe;
	color: #ffffff;
} 

.nav-link:visited {
/*	box-shadow: 0px 3px #50ebbe;
	color: #ffffff;*/
}


.hero-contents {
	margin: 0 auto;
	margin-top: 125px;
	margin-bottom: 150px;
	font-family: "Circular Std";
	text-align: center;
	text-decoration: none;
	line-height: 48px;
}

.hero-heading {
	width: 400px;
	display: inline-block;
	margin-bottom: 70px;

	font-size: 32pt;
	color: rgba(250,250,255,0.99);
	font-weight: 700;
}

.hero-heading img {
	width: 100%;
}

.hero-tags {
	display: block;
	font-size: 17.5pt;
	text-transform: ;
	font-weight: 700;
	line-height: 32px;
	color: rgba(210,210,255,0.5);
	margin: 0 auto;
	max-width: 600px;
	margin-bottom: 60px;
}

.hero-text {
	margin-top: 0vh;
	font-size: 17pt;
	font-weight: 300;
	color: rgba(210,210,255,0.5);
	margin: 0 auto;
	margin-bottom: 25px;
	max-width: 600px;
}

.hero-color-highlight {
	background: linear-gradient(to right, #f7b0fe, #7fc9ff);
	-webkit-background-clip: text;
	color: rgba(255,255,255,0.1);
}

.hero-white-highlight {
	color: rgba(210,210,255,0.9);
}

.projects-grid {
	display: grid;
	margin: 0 auto;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 100px;
	width:97%;
	margin-bottom: 200px;
}





/* Index Cards */

.card {
	font-family: "Circular Std";
	font-weight: 400;
	font-size: 1em;
	line-height: 2em;
	margin: 0 auto;
	overflow: hidden;
	transition: 0.2s;
	width: 300px;
	border-radius: 10px;
	background-color: rgba(245,245,255,0.95);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	height: 450px;
}

.card:hover {
	/*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
	box-shadow: 0 16px 28px rgba(0,0,0,0.25), 0 12px 10px rgba(0,0,0,0.22);
	transform: translate(0, -8px);
	text-decoration: none;
}



.card-image {
	width: 100%;
	height: 225px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.card-text {
	padding: 14px 20px 15px 25px

}

.card-text-tags {
	color: rgba(0,0,0,0.35);
	font-size: 11pt;
	font-weight: 700;
	margin-bottom: 3px;
}

.card-text-title {
	color: rgba(0,0,0,0.8);
	font-size: 16pt;
	font-weight: 700;
	margin-bottom: 15px;
}

.card-divider {
	margin-left: 0 auto;
	background: #aaa;
	width: 20px;
	height: 4px;
	border-radius: 10px;
	margin-bottom: 15px;
}

.card-text-desc {
	color: rgba(0,0,0,0.55);
	font-size: 12pt;
	font-weight: 400;
	line-height: 20pt;
}







/* Project Page */

.project-page {
	background-color: #ffffff;
	padding-bottom: 100px;
}

.project-page-banner {
	width: 100%;
	height: 55vw;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.project-page-overview {
	padding-top: 40px;
	padding-bottom: 20px;
	background-color: #f2f2f8;
	margin-bottom: 20px;
}

.project-page-tags {
	margin-bottom: 20px;
	font-family: "Circular Std";
	font-size: 13pt;
	color: rgba(0,0,0,0.35);
}

.project-page-title {
	font-weight: 700;
	color: #33333f;
	margin-bottom: 25px;
}

.project-page-desc {
	margin-top: 25px;
	color: #555555
}

.table-of-contents {
	display: inline-block;
	border: 1px solid #dddddd;
	padding: 25px;
	border-radius: 5px;
	font-size: 0.9em;
}

/*.table-of-contents a {
	color: #50ebbe;
}
*/


.content-column {
	max-width: 750px;
	margin: auto;
}

.content-column li {
	font-size: 1.0em;
	padding-left: 10px;
	margin-bottom: 20px;
}



.indent-medium {
	padding-left: 1.5em;
}


.compact-list li {
	margin-top: 0px;
	margin-bottom: 0.25em;
}

.image-wrapper {
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.image-wrapper img {
	width: 100%;
}

.image-auto-crop {
	/*Use with image as background of container*/
	width: 100%;
	padding-top: 70%;
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.video-wrapper {
	margin: 0 auto;
}


.width-limiter-1920 {
	max-width: 1920px;
	margin: 0 auto;
}

.width-limiter-1200 {
	max-width: 1200px;
	margin: 0 auto;
}

.width-limiter-narrower {
	max-width: 450px;
	margin: 0 auto;
}

.width-limiter-narrow {
	max-width: 600px;
	margin: 0 auto;
}

.width-limiter-regular {
	max-width: 750px;
	margin: 0 auto;
}

.width-limiter-wide {
	max-width: 850px;
	margin: 0 auto;
}

.width-limiter-wider {
	max-width: 1200px;
	margin: 0 auto;
}

.width-limiter-350 {
	max-width: 350px;
	margin: 0 auto;
}

.width-limiter-300 {
	max-width: 300px;
	margin: 0 auto;
}

.width-limiter-250 {
	max-width: 250px;
	margin: 0 auto;
}

.width-limiter-200 {
	max-width: 200px;
	margin: 0 auto;
}

.width-limiter-150 {
	max-width: 150px;
	margin: 0 auto;
}

.width-limiter-25 {
	max-width: 25px;
	margin: 0 auto;
}




.border-single {
	border: 1px solid #dddddd;
	padding: 0px;
	border-radius: 3px;
}

.border-double {
	border: 1px solid #dddddd;
	padding: 2px;
	border-radius: 3px;
}

.border-rounded {
	border-radius: 10px;
}

.border-single-thick {
	border: 1px solid #dddddd;
	padding: 10px;
	border-radius: 3px;
}

.shadow-light {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.shadow-medium {
	box-shadow: 0 8px 20px 0 rgba(0,0,0,0.3);
}

.shadow-dark {
	box-shadow: 0 16px 40px 0 rgba(0,0,0,0.4);
}


.base-grid {
	display: grid;
	margin: 0 auto;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
}

.image-grid-4 {
	grid-template-columns: repeat(4, 1fr);
}

.image-grid-3 {
	grid-template-columns: repeat(3, 1fr);
}

.image-grid-2 {
	grid-template-columns: repeat(2, 1fr);

}


.overview-grid {
	grid-template-columns: 65% 30%;
	grid-column-gap: 5%;
}

.about-grid {
	grid-template-columns: 40% 55%;
	grid-column-gap: 5%;
}


.grid-item img {
	width: 100%;
}









.app-icon:hover {
	/*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
	transform: translate(0, -2px);
}


.anchor-link {

}

.anchor-link:hover {

}




/* Carousel */

.carousel {
	padding-top: 65px;
	padding-bottom: 25px;
	width: 100%;
}

.carousel-cell {
	width: 225px;
	margin-right: 50px;
}

.carousel-cell img {
	height: 100%;
	width: 100%;
}

.caption {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	line-height: 1.7em;
}

.smaller-font {
	font-size: 0.85em;
}

.flickity-page-dots {
	top: 25px;
	bottom: 95%;
}

.carousel-nav .carousel-cell.is-nav-selected {
	background: #ED2;
}

.carousel-dark {
	background-color: #333333;
	color: #ffffff;
}


.carousel-dark .flickity-page-dots .dot {
	width: 12px;
	height: 12px;
	opacity: 1;
	background: transparent;
	border: 2px solid white;
}

.carousel-dark .flickity-page-dots .dot.is-selected {
	background: white;
}




/*-- Responsiveness --*/


/* Tablet */
@media only screen and (max-width: 1075px) {

	.projects-grid {
		display: grid;
		grid-row-gap: 100px;
		grid-template-columns: repeat(2, 1fr);
		width:90%;
	}

	.content-column {
		width: 90%;
	}



}


/* Mobile */
@media only screen and (max-width: 767px) {

	body {
		font-size: 12pt;
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.2em;
		margin-top: 15px;
		margin-bottom: 10px;
	}

	.project-page {
		background-color: #ffffff;
		padding-bottom: 50px;
	}

	.project-page-overview {

	}

	.project-page-tags {
		font-size: 12pt;
		margin-bottom: 12px;
	}

	.project-page-title {
		margin-bottom: 25px;
	}

	.project-page-desc {
		margin-top: 25px;
	}

	.navigation {
		font-size: 11pt;
	}

	.nav-link-left {
		margin-right: 7%;
	}

	.nav-link-right {
		margin-left: 5%;
	}

	.hero {
		min-height: 400px;
	}

	.hero-contents {
		margin: 0 auto;
		margin-top: 100px;
		margin-bottom: 150px;
		font-family: "Circular Std";
		text-align: center;
		text-decoration: none;
		line-height: 48px;
	}

	.hero-heading {
		width: 300px;
	}

	.hero-tags {
		font-size: 14pt;
	}

	.hero-text {
		font-size: 15pt;
		line-height: 24pt;
		width: 100%;
		max-width: 350px;
	}

	.projects-grid {
		display: grid;
		grid-row-gap: 100px;
		grid-template-columns: repeat(1, 1fr);
		width:100%;
	}

	.project-page-banner {

	}

	.content-column {
		width: 90%;
	}

	.spacer {
		height: 25px;
	}

	.spacer-small {
		height: 15px;
	}

	.spacer-section {
		height: 50px;
	}

	.section-divider {
		margin-top: 50px;
		margin-bottom: 25px;
		margin-left: 20px;
		margin-right: 20px;
	}


	.border-rounded {
		border-radius: 5px;
	}


	.base-grid {
		grid-template-columns: repeat(1, 1fr);
	}


	.mobile-grid-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.video-wrapper iframe {
		height: 200px;
	}







}




/*-- Animations --*/














