/* ----- CSS Reset ----- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ----- My Own CSS ----- */

* {
	box-sizing: border-box;
}

body {
	min-height: 900px;

	background-color: #33333f;
	font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	font-size: 13pt;
	line-height: 1.7em;
	color: #333333;

	

	-webkit-font-smoothing: antialiased; 
	-apple-font-smoothing: antialiased; 
	font-smoothing: antialiased; 
	text-rendering: optimizeLegibility; 
	-webkit-font-feature-settings: "kern"; 
	-moz-font-feature-settings: "kern"; 
	-moz-font-feature-settings: "kern=1"; 
	-ms-font-feature-settings: "kern"; 
	-o-font-feature-settings: "kern"; 
	font-feature-settings: "kern"; 
	font-kerning: normal; 
}


a {
	font-weight: 700;
	text-decoration: none;
	color: #00bab0;
}

a:hover {
	/*	text-decoration: underline;*/
	filter: brightness(125%);
}


b, strong {
	font-weight: bold;
} 

i, em {
	font-style: italic;
}



p {
	font-size: 1.0em;
	margin-bottom: 1.5em;
}


h1 {
	font-family: "Circular Std";
	font-weight: 700;
	font-size: 2.0em;
	line-height: 1.6em;
	color: #ffffff;
	margin-bottom: 1em;
}

h2 {
	font-family: "Circular Std";
	font-weight: 900;
	font-size: 1.9em;
	letter-spacing: -0.015em;
	line-height: 1.6em;
	/*color: #bbbbc5;*/
	color: #33333f;
	margin-bottom: 1em;
}

h3 {
	font-weight: 700;
	font-size: 1.25em;
	line-height: 1.6em;
	color: #182837;
	margin-top: 2em;
	margin-bottom: 1em;
}

h4 {
	font-weight: 700;
	font-size: 1.15em;
	line-height: 1.5em;
	color: #777777;
	margin-bottom: 1em;
}

h5 {
	font-weight: 700;
	font-size: 1.1em;
	line-height: 1.5em;
	color: #444444;
	margin-bottom: 0.5em;
}

h6 {
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5em;
	color: #aaaaaa;
	margin-bottom: 0.5em;
}




blockquote, q {
	font-style: italic;
	font-weight: 500;
	font-size: 1.2em;
	line-height: 1.6em;
	color: #555555;
	margin-top: 1em;
	margin-bottom: 1em;
	border-left: 3px solid #dddde5;
	padding-left: 1em;
}

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: disc;
}

li {
	margin-left: 20px;
}


blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

hr {
	border: 0px;
	height: 1px;
	background-color: #dddddd;
}


footer {
	font-family: "Circular Std";
	padding: 50px;
	background-color: rgba(0,0,0,0.1);
	font-size: 12pt;
	color: rgba(230,230,255,0.4);
	text-align: center;
	font-weight: 500;
}

footer .fab, footer .fas{
	color: #aaaabb;
	padding: 0.5em;
}


/* Controls */

input {
	font-family: "Circular Std";
	font-size: 12pt;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	text-align: left;
}


button {
	font-family: "Circular Std";
	font-size: 12pt;
	box-sizing: border-box;
	border: 0px;
	text-align: center;
	color: rgba(0,0,0,0.5);
	border-radius: 100px;
	padding: 12px 20px;
	background-color: #37ffe7;
}

button:hover {
	filter: brightness(110%);
	transition: opacity 0.5s ease-in-out;
}







/* Content Formatting */

.spacer { 
	height: 50px;
}

.spacer-mobile {
	height: 0px;
}

.spacer-small { 
	height: 25px;
}

.spacer-section { 
	height: 150px;
}

.section-divider {
	margin: auto;
	margin-top: 125px;
	margin-bottom: 70px;
	max-width: 850px;
}



.bold {
	font-weight: 600;
}

.italic {
	font-style: italic;
}

.center-everything {
	display: block;
	text-align: center;
	margin: 0 auto;
}

.no-vertical-margins {
	margin-top: 0px;
	margin-bottom: 0px;
}




.dark-theme h1, 
.dark-theme h2, 
.dark-theme h3, 
.dark-theme h4, 
.dark-theme h5, 
.dark-theme h6 {
	font-family: "Circular Std";
	color: #ffffff;
}

.dark-theme a {
	color: #37ffe7;
}

.dark-theme p {
	color: #ddddee;
	font-size: 13pt;
	line-height: 1.7em;
}

.dark-theme b {
	font-weight: 900;
	color: #ffffff;
}

.dark-theme .fab, .dark-theme .fas {
	color: #37ffe7;
	/*padding-right: 1em;*/
}

.pad-right-1 {
	padding-right: 0.5em;
}

.pad-right-2 {
	padding-right: 1em;
}


.highlight-white {
	color: #ffffff;
}

.dark-theme .highlight-translucent, .highlight-translucent {
	color: rgba(210,210,255,0.5);
}

.highlight-1 {
	color: #777788;
	font-size: 0.9em;
	font-weight: 700;
	text-transform: uppercase;
}

.highlight-2 {
	color: #9999aa;
	font-size: 1.1em;
	font-weight: 300;
}

.highlight-3 {
	color: #777788;
	font-size: 0.9em;
	font-weight: 700;
	font-style: italic;
}

.highlight-4 {
	color: #0fd2ae;
	/*	font-size: 1.2em;*/
	font-weight: 900;
	text-transform: uppercase;
}

.highlight-5 {
	color: #aaaabb;
	font-size: 0.9em;
	font-weight: 700;
	text-transform: uppercase;
}








.content-column {
	max-width: 750px;
	margin: auto;
}

.content-column li {
	font-size: 1.0em;
	padding-left: 10px;
	margin-bottom: 20px;
}



.indent-medium {
	padding-left: 1.5em;
}


.compact-list li {
	margin-top: 0px;
	margin-bottom: 0.25em;
}

.image-wrapper {
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.image-wrapper img {
	width: 100%;
}

.image-auto-crop {
	/*Use with image as background of container*/
	width: 100%;
	padding-top: 70%;
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.image-auto-crop2 {
	/*Use with image as background of container*/
	width: 100%;
	padding-top: 100%;
	display: inline-block;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.image-wrapper-left-aligned {

}

.left-aligned {
	text-align: left;
}

.video-wrapper {
	margin: 0 auto;
}

.width-limiter-narrower {
	max-width: 450px;
	margin: 0 auto;
}

.width-limiter-narrow {
	max-width: 600px;
	margin: 0 auto;
}

.width-limiter-regular {
	max-width: 750px;
	margin: 0 auto;
}

.width-limiter-wide {
	max-width: 850px;
	margin: 0 auto;
}

.width-limiter-wider {
	max-width: 1200px;
	margin: 0 auto;
}

.width-limiter-1920 {
	max-width: 1920px;
	margin: 0 auto;
}

.width-limiter-1200 {
	max-width: 1200px;
	margin: 0 auto;
}

.width-limiter-1080 {
	max-width: 1080px;
	margin: 0 auto;
}

.width-limiter-900 {
	max-width: 900px;
	margin: 0 auto;
}

.width-limiter-750 {
	max-width: 750px;
	margin: 0 auto;
}

.width-limiter-400 {
	max-width: 400px;
	margin: 0 auto;
}

.width-limiter-350 {
	max-width: 350px;
	margin: 0 auto;
}

.width-limiter-300 {
	max-width: 300px;
	margin: 0 auto;
}

.width-limiter-275 {
	max-width: 275px;
	margin: 0 auto;
}

.width-limiter-250 {
	max-width: 250px;
	margin: 0 auto;
}

.width-limiter-200 {
	max-width: 200px;
	margin: 0 auto;
}

.width-limiter-150 {
	max-width: 150px;
	margin: 0 auto;
}

.width-limiter-25 {
	max-width: 25px;
	margin: 0 auto;
}




.border-single {
	border: 1px solid #dddddd;
	padding: 0px;
	border-radius: 3px;
}

.border-double {
	border: 1px solid #dddddd;
	padding: 2px;
	border-radius: 3px;
}

.border-rounded {
	border-radius: 10px;
}

.border-rounded-slight {
	border-radius: 2px;
}


.border-single-thick {
	border: 1px solid #dddddd;
	padding: 10px;
	border-radius: 3px;
}

.shadow-light {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.shadow-medium {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.25);
}

.shadow-dark {
	box-shadow: 0 16px 32px 0 rgba(0,0,0,0.3);
}

.background-black {
	background-color: #000000;
}

.background-darken {
	background-color: rgba(0,0,0,0.2);
}

.background-white {
	background-color: #ffffff;
}


.base-grid {
	display: grid;
	margin: 0 auto;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
}

.image-grid-4 {
	grid-template-columns: repeat(4, 1fr);
}

.image-grid-3 {
	grid-template-columns: repeat(3, 1fr);
}

.image-grid-2 {
	grid-template-columns: repeat(2, 1fr);

}


.projects-grid {
	display: grid;
	margin: 0 auto;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 100px;
	width:97%;
	margin-bottom: 200px;
}

.overview-grid {
	grid-template-columns: 65% 30%;
	grid-column-gap: 5%;
}

.about-grid {
	grid-template-columns: 32% 60%;
	grid-column-gap: 8%;
}





.base-flex-container-2 {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
}

.base-flex-container-2 img {
	width: 100%;
}


.gallery-container {
	color: #ddddef;
	margin-bottom: 75px;
}

.gallery-container .header {
	font-size: 17pt;
	font-weight: 700;
	margin-bottom: 25px;
}

.gallery-container .content1 {
	width: 47.5%;
	margin-bottom: 25px;
}

.gallery-container .content2 {
	width: 47.5%;
}

.gallery-container .reverse1 {
	width: 47.5%;
	margin-bottom: 25px;
	order: 2;
}

.gallery-container .reverse2 {
	width: 47.5%;
	order: 1;
}




.about-container .header {
	font-size: 17pt;
	font-weight: 700;
	margin-bottom: 25px;
}

.about-container .content1 {
	width: 37.5%;
	margin-bottom: 25px;
}

.about-container .content2 {
	width: 57.5%;
}





.hover-dark a:hover{
	filter: brightness(75%);
}







/* General Page Content */

.main-content {
	min-height: 750px;
}

.decorative-bar {
	height: 0px;
	background: linear-gradient(to right, #4E90F4, #2FFEDB, #FFAEFC, #FFCD7F);
}

.navigation {

	z-index: 9;
	position: fixed;
	width: 100%;
	height: 100px;

	font-family: "Circular Std";
	
	margin: 0 auto;
	background-color: rgba(40,40,50,1);
	font-size: 12pt;
	/*	text-transform: uppercase;*/
	font-weight: 500;


	-webkit-backdrop-filter: blur(10px);

	transition: 0.25s;

}

.navigation a {
	text-decoration: none;
	
}

.nav-contents {
	max-width: 900px;
	margin: 0 auto;
	width: 87%;
}

.nav-logo {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	opacity: 1;
	text-decoration: none;
	margin: 0 auto;
	float: left;

	transition: 0.25s;
}

.nav-logo img {
	width: 100%;
}

.nav-logo:hover {
	filter: brightness(110%);
	transition: opacity 0.5s ease-in-out;
}



.nav-link {
	color: rgba(230,230,255,0.7);
	font-weight: 400;
	padding-top: 35px;
	padding-bottom: 33px;
	margin-left: 8%;
	float: right;

	transition: 0.25s;
}


.nav-link:link {

} 

.nav-link:hover {
	box-shadow: 0px 3px rgba(255,255,255,1);
	color: #ffffff;
	transition: box-shadow 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;	
} 

.nav-link:active {
	box-shadow: 0px 3px rgba(255,255,255,1);
	color: #ffffff;
} 

.nav-link:visited {

}

.nav-link-selected {
	box-shadow: 0px 3px rgba(255,255,255,1);	
	color: #ffffff;
}



.nav-phantom {
	height: 100px;

	transition: 0.25s;
}








.hero-wrapper {
	margin: 0 auto;
	height: 100vh;
	min-height: 600px;
	max-height: 800px;
	width: 75%;
	max-width: 900px;
}

.hero-contents {
	position: relative;
	top: 50%;
	transform: translateY(-60%);
	font-family: "Circular Std";
	text-align: left;
	text-decoration: none;
}

.hero-heading {
	display: inline-block;
	font-size: 48pt;
	letter-spacing: -0.05rem;
	line-height: 50pt;
	color: rgba(250,250,255,0.99);
	font-weight: 900;
	margin-bottom: 30px;

}

.hero-heading .highlight {
	font-size: 48pt;
	font-weight: 900;

	/*	background-image: url(../assets/gradient-wave.gif);*/

/*	background: linear-gradient(270deg, 
		#b4ffe5, #37ffe7, #fb94ff, #FF9ABC, #fb94ff, #37ffe7, #b4ffe5);
	background-size: 2000% 2000%;
	-webkit-animation: gradientFlood 5s infinite;
	-moz-animation: gradientFlood 5s infinite;
	animation: gradientFlood 5s infinite;*/

	background: linear-gradient(270deg, 
		#37ffe7, #37ffe7, #b4ffe5, #37ffe7, #37ffe7);
	background-size: 250% 250%;
	-webkit-animation: gradientFlood 2.5s infinite;
	-moz-animation: gradientFlood 2.5s infinite;
	animation: gradientFlood 2.5s infinite;

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}



.hero-heading img {
	width: 100%;
	height: 100%;
}

.hero-text {
	font-size: 16pt;
	line-height: 32pt;
	color: rgba(210,210,255,0.5);
	max-width: 450px;
	margin-bottom: 50px;
}

.hero-white-highlight {
	color: rgba(210,210,255,0.9);
}


.hero-divider {
	margin-left: 0 auto;
	width: 40px;
	height: 3px;
	margin-bottom: 50px;
	background-color: rgba(210,210,255,0.5);
}

.gradient-flood {
	/*	background: rgba(210,210,255,0.5);*/

/*	background: linear-gradient(270deg, 
		#b4ffe5, #37ffe7, #fb94ff, #FF9ABC, #fb94ff, #37ffe7, #b4ffe5);
	background-size: 3200% 3200%;
	-webkit-animation: gradientFlood 5s infinite;
	-moz-animation: gradientFlood 5s infinite;
	animation: gradientFlood 5s infinite;*/

	background: linear-gradient(270deg, 
		#37ffe7, #37ffe7, #b4ffe5, #37ffe7, #37ffe7);
	background-size: 1600% 1600%;
	-webkit-animation: gradientFlood 2.5s infinite;
	-moz-animation: gradientFlood 2.5s infinite;
	animation: gradientFlood 2.5s infinite;
}




.general-page-header {
	color: rgba(210,210,255,0.7);
	font-family: "Circular Std";
	text-align: left;
	font-size: 16pt;
	line-height: 28pt;
	padding-top: 75px;
}


.general-page-header .title {
	color: rgba(255,255,255,1);
	font-size: 24pt;
	font-weight: 900;
}

.general-page-header .text {
	font-size: 15pt;
	line-height: 24pt;
	color: rgba(210,210,255,0.5);
	max-width: 400px;
}

.general-page-divider {
	margin-left: 0 auto;
	background: #37ffe7;
	width: 35px;
	height: 3px;
	border-radius: 0px;
	margin-top: 20px;
	margin-bottom: 15px;
}






/* Index Cards */

.card {
	font-family: "Circular Std";
	font-weight: 400;
	font-size: 1em;
	line-height: 2em;
	margin: 0 auto;
	overflow: hidden;
	transition: 0.25s;
	width: 300px;
	border-radius: 10px;
	background-color: rgba(245,245,255,0.95);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	height: 450px;
}

.card:hover {
	/*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
	box-shadow: 0 16px 40px rgba(0,0,0,0.20), 0 12px 20px rgba(0,0,0,0.17);
	transform: translate(0, -8px);
	text-decoration: none;
	filter: none;
}



.card-image {
	width: 100%;
	height: 225px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.card-text {
	padding: 14px 20px 15px 25px

}

.card-text-tags {
	color: rgba(0,0,0,0.35);
	font-size: 11pt;
	font-weight: 700;
	margin-bottom: 3px;
}

.card-text-title {
	color: rgba(0,0,0,0.8);
	font-size: 16pt;
	font-weight: 700;
	margin-bottom: 15px;
}

.card-divider {
	margin-left: 0 auto;
	background: #aaa;
	width: 25px;
	height: 3px;
	margin-bottom: 15px;
}

.card-text-desc {
	color: rgba(0,0,0,0.55);
	font-size: 12pt;
	font-weight: 400;
	line-height: 20pt;
}






/* Password Page */

.project-password-input {
	width: 300px;
	margin-bottom: 25px;
	text-align: center;
}

.project-password-button {
	width: 300px;
	margin-bottom: 25px;
}

.project-password-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FF4343;
  opacity: 1; /* Firefox */
}

.project-password-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FF4343;
}

.project-password-input::-ms-input-placeholder { /* Microsoft Edge */
  color: #FF4343;
}




/* Project Page */

.project-page {
	background-color: #ffffff;
	padding-bottom: 100px;
}

.project-page-banner {
	width: 100%;
	height: 55vw;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.project-page-overview {
	padding-top: 40px;
	padding-bottom: 20px;
	background-color: #f2f2f8;
	margin-bottom: 20px;
}

.project-page-tags {
	margin-bottom: 20px;
	font-family: "Circular Std";
	font-size: 13pt;
	color: rgba(0,0,0,0.35);
}

.project-page-title {
	font-weight: 700;
	color: #33333f;
	margin-bottom: 25px;
}

.project-page-desc {
	margin-top: 25px;
	color: #555555
}

.table-of-contents {
	display: inline-block;
	border-left: 3px solid #dddde5;
	padding-left: 25px;
	font-size: 0.9em;
}




.app-icon:hover {
	/*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
	/*	transform: translate(0, -2px);*/
	filter: brightness(105%);
}


.anchor-link {

}

.anchor-link:hover {

}

#projects {
	display: block;
	position: relative;
	top: -75px;
	visibility: hidden;
}




/* Carousel */

.carousel {
	padding-top: 65px;
	padding-bottom: 25px;
	width: 100%;
}

.carousel-cell {
	width: 225px;
	margin-right: 50px;
}

.carousel-cell img {
	height: 100%;
	width: 100%;
}

.caption {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	line-height: 1.7em;
	opacity: 0.8;
}

.smaller-font {
	font-size: 0.9em;
}

.caption-highlight {
	font-weight: 700;
	opacity: 0.7;
}

.flickity-page-dots {
	top: 25px;
	bottom: 95%;
}

.carousel-nav .carousel-cell.is-nav-selected {
	background: #ED2;
}

.carousel-dark {
	background-color: #333333;
	color: #ffffff;
}


.carousel-dark .flickity-page-dots .dot {
	width: 12px;
	height: 12px;
	opacity: 1;
	background: transparent;
	border: 2px solid white;
}

.carousel-dark .flickity-page-dots .dot.is-selected {
	background: white;
}




/*-- Responsiveness --*/


/* Tablet */
@media only screen and (max-width: 1075px) {

	.projects-grid {
		display: grid;
		grid-row-gap: 100px;
		grid-template-columns: repeat(2, 1fr);
		width:90%;
	}

	.content-column {
		width: 90%;
	}

	.about-grid {
		grid-template-columns: 35% 60%;
		grid-column-gap: 5%;
	}



}


/* Mobile */
@media only screen and (max-width: 767px) {

	body {
		font-size: 12pt;
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.2em;
		margin-top: 15px;
		margin-bottom: 10px;
	}

	.project-page {
		background-color: #ffffff;
		padding-bottom: 50px;
	}

	.project-page-overview {

	}

	.project-page-tags {
		font-size: 12pt;
		margin-bottom: 12px;
	}

	.project-page-title {
		margin-bottom: 25px;
	}

	.project-page-desc {
		margin-top: 25px;
	}

	.navigation {
		position: relative;
		font-size: 11pt;
		height: 80px;
	}

	.nav-logo {
		height: 30px;
		width: 30px;
	}

	.nav-phantom {
		height: 0px;
	}

	.nav-link {
		padding-top: ;
		margin-left: 6%;
		padding-top: 27px;
		padding-bottom: 22px;
	}


	.hero-wrapper {
		min-height: 400px;
		max-height: 700px;
	}

	.hero-contents {

	}

	.hero-heading {
		font-size: 32pt;
		line-height: 40pt;
	}

	.hero-heading .highlight {
		font-size: 32pt;
		line-height: 40pt;
	}

	.hero-text {
		font-size: 13pt;
		line-height: 24pt;
	}

	.projects-grid {
		display: grid;
		grid-row-gap: 100px;
		grid-template-columns: repeat(1, 1fr);
		width:100%;
	}

	.grid-item {
		margin-bottom: 0px;
	}

	.project-page-banner {

	}

	.content-column {
		width: 90%;
	}

	.spacer {
		height: 25px;
	}

	.spacer-mobile {
		height: 50px;
	}

	.spacer-small {
		height: 15px;
	}

	.spacer-section {
		height: 50px;
	}

	.section-divider {
		margin-top: 50px;
		margin-bottom: 25px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.border-rounded {
		border-radius: 5px;
	}


	.base-grid {
		grid-template-columns: repeat(1, 1fr);
	}


	.mobile-grid-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.video-wrapper iframe {
		height: 200px;
	}


	.base-flex-container-2 {
		flex-direction: column;
	}

	.base-flex-container-2 .content1 {
		width: 100%;
	}

	.base-flex-container-2 .content2 {
		width: 100%;
	}

	.base-flex-container-2 .reverse1 {
		order: 1;
		width: 100%;

	}

	.base-flex-container-2 .reverse2 {
		order: 2;
		width: 100%;
	}





}




/*-- Animations --*/



@-webkit-keyframes gradientFlood {
	0%{background-position:100%}
	100%{background-position:0%}
}
@-moz-keyframes gradientFlood {
	0%{background-position:100%}
	100%{background-position:0%}
}
@keyframes gradientFlood { 
	0%{background-position:100%}
	100%{background-position:0%}
}











