---
pageName: pioneers
layout: project-page
title: Pioneers - Jesse Wu
selectMenuItem: none
---


{% include back-to-top-button.html %}

{% include project-page-hero.html %}

<div class="project-page">



	<div class ="project-page-overview">

		<div class="content-column">
			<div class="project-page-tags">User-Centered Design Showcase &nbsp;&sdot;&nbsp; High-Fidelity Prototyping &nbsp;&sdot;&nbsp; User Testing</div>
		</div>


		<div class ="content-column">

			<h2 class="project-page-title">Pioneers</h2>

			<div class="card-divider" style="background-color: #EF5350"></div>

		</div>

		<div class ="content-column">
			<p class="project-page-desc">As "pioneers" in their own right, first-generation college students often face unique challenges in their college lives. Through an iterative user-centered design process, I designed, prototyped, and tested Pioneers, a mobile app that helps first-gen students to network with and seek mentorship from first-gen alumni and upperclassmen.</p>

			<p><a style="color: #EF5350" href="#final-deliverable"><i class="fas fa-arrow-down"></i>&nbsp;&nbsp;&nbsp;&nbsp;Click here to jump directly to my final prototype.</a></p>
		</div>

	</div>

	<div class="width-limiter-1920">


		<div class ="content-column">

			<div class="base-grid overview-grid">
				<div class="content1">
					<h3>My Role</h3>
					<p>
						<ul class="compact-list">
							<li>Built the entire high-fidelity prototype</li>
							<li>Created most of the low-fidelity and paper wireframes</li>
							<li>Took charge of all visual design</li>
							<li>Conducted user research and usability testing at multiple stages of the project</li>
						</ul>
					</p>



				</div>

				<div class="content2">
					<h3>Team Members</h3>
					<p>
						Jesse Wu
						<br>Natasha Rojas
						<br>Lu Yang
						<br>Wenchang Yang
						<br>Diane Tarira
						<br>Cynthia Zhu
					</p>
				</div>
			</div>


			<a class="anchor" id="table-of-contents-top"></a>

			<h3>On This Page</h3>

			<div class="table-of-contents">
				<h5><a href="#process">Process</a></h5>
				<h5><a href="#user-research">User Research</a></h5>
				<h5><a class="anchor-link indent-medium" href="#problem-space">The General Problem Space</a></h5>
				<h5><a class="anchor-link indent-medium" href="#interviewing-users">Interviewing Users</a></h5>
				<h5><a class="anchor-link indent-medium" href="#narrowing-down">Narrowing Down The Problem Space</a></h5>
				<h5><a href="#design">Design</a></h5>
				<h5><a class="anchor-link indent-medium" href="#paper-wireframes">Paper Wireframes</a></h5>
				<h5><a class="anchor-link indent-medium" href="#user-testing1">User Testing : Iteration #1</a></h5>
				<h5><a class="anchor-link indent-medium" href="#medium-fidelity">Medium-Fidelity Prototype</a></h5>
				<h5><a class="anchor-link indent-medium" href="#user-testing2">User Testing : Iteration #2</a></h5>
				<h5><a href="#final-deliverable">Final Deliverable</a></h5>
			</div>

		</div>



		<a class="anchor" id="process"></a>

		<div class="section-divider"><hr></div>



		<div class ="content-column">

			<h2>Process</h2>

			<p>
				<ol>
					<li>Starting out with a general problem statement, we explored the problem space and conducted user research to gain a general understanding of our users.</li>
					<li>Through extensive discussion and brainstorming, we narrowed down our scope to specific problems that we were confident of tackling within our limitations.</li>
					<li>We iteratively designed prototypes of increasing fidelity and user testing in between.</li>
				</ol>
			</p>

		</div>

		<div class="spacer"></div>

		<div class="content-column image-wrapper">

			<img src="assets/pioneers/process.png">

		</div>







		<a class="anchor" id="user-research"></a>

		<div class="section-divider"><hr></div>

		<div class ="content-column">

			<h2>User Research</h2>


			<a class="anchor" id="problem-space"></a>

			<div class="spacer-small"></div>

			<h3>The General Problem Space</h3>

			<p>First-generation college students, comprising 30% of all college students in the United States, often face greater challenges in certain areas compared to non-first gen students. For example, they are more likely to report feelings of inadequacy in their academic ability, social life, and socioeconomic status than non-first-gen students. They are also disproportionately from a low income background or socioeconomic class, and graduate at lower rates. </p>

			<blockquote>How can we improve the overall experience of first-generation college students at Cornell?</blockquote>

			<p>Our initial general problem statement comprises multiple interconnected problems spanning different areas. To begin designing a solution, our team first had to narrow down the scope of our project.</p>

		</div>

		<div class="spacer"></div>

		<div class="content-column image-wrapper width-limiter-narrow">

			<img src="assets/pioneers/poll-graph.png">

		</div>




		<a class="anchor" id="interviewing-users"></a>

		<div class="spacer"></div>


		<div class ="content-column">

			<h3>Interviewing Users</h3>

			<p>We started by recruiting and interviewing 6 first-generation college students at Cornell and got them to talk about their college lives.</p>
		</div>

		<div class="spacer"></div>

		<div class="image-wrapper width-limiter-1080">

			<img src="assets/pioneers/affinity-diagram.jpg">

		</div>

		<div class="spacer"></div>


		<div class ="content-column">

			<h5><span class="highlight-1">Finding 1 : </span>Role Models</h5>
			<p>Our interviewees expressed that it was motivating to see or interact with another first-gen student or alumni who was successful.</p>

			<h5><span class="highlight-1">Finding 2 : </span>Mot part of the club</h5>
			<p>Students often feel a sense of inconfidence when it comes to networking. They feel that they and their family don't have the same connections that other students do.</p>

			<h5><span class="highlight-1">Finding 3 : </span>School Family Divide</h5>
			<p>There is a divide between school and family life. Students had problems communicating with their parents and other family members regarding college matters. There is an asynchrony between their parents' view of their college life and their own.</p>

		</div>



		<a class="anchor" id="narrowing-down"></a>

		<div class="spacer"></div>


		<div class ="content-column">

			<h3>Narrowing Down The Problem Space</h3>

			<p>In response to the user research findings, each of us went crazy and sketched up 120 ideas as a group. However, we quickly realized that it was impossible to actually decide on what to go with without narrowing down our general problem statement. After revisiting our interview findings, a good deal of discussion, and some soul searching, we narrowed down our problem statement to the following:</p>

			<blockquote>First-generation college students at Cornell often feel left out in networking, socializing, and being "in the know". They find it difficult to network and connect with other students, both first-gen and non-first-gen.</blockquote>

			<p>The reason we decided to go with this was because our participants found role models to be helpful and networking to be difficult. At the same time, we thought that the knowledge gained from socializing and mentorship could also indirectly benefit other problem areas, such as feeling left out. Through a process of elimination, we zoned in on one of the ideas: <b>an digital solution that helps with networking and mentorship.</b> </p>

		</div>


		<div class="spacer"></div>

		<div class="content-column image-wrapper width-limiter-narrow">

			<img class="shadow-medium" src="assets/pioneers/photo10.jpg">

		</div>

		<div class="spacer"></div>
		<div class="spacer"></div>

		<div class ="content-column">

			<h4 class="highlight-1">Storyboard</h4>

		</div>

		<div class="content-column image-wrapper">

			<img src="assets/pioneers/storyboard-comic.png">

		</div>

		<div class="spacer"></div>

		<div class ="content-column">

			<h4 class="highlight-1">Concept Sketches</h4>

		</div>

		<div class="content-column image-wrapper">

			<img src="assets/pioneers/storyboard2.png">

		</div>




		<a class="anchor" id="design"></a>

		<div class="section-divider"><hr></div>

		<div class ="content-column">

			<h2>Design</h2>

			<p>Inspired by the fact that first-generation students are the metaphorical "pioneers" in their families to attend college, I decided to name our digital solution just that: <b><i>Pioneers</i></b> would be a smartphone app that helps first-gen Cornell students network and find mentorship by connecting with first-gen alumni and upperclassmen. The core emphasis of this app was to reduce the barriers to networking as much as possible by making it feel fun, friendly, and welcoming.</p>

		</div>

		<div class="spacer"></div>

		<div class="content-column image-wrapper">

			<img  src="assets/pioneers/design-iterations-diagram.png">

		</div>


		<div class ="content-column">

			<div class="spacer"></div>

			<a class="anchor" id="paper-wireframes"></a>


			<h3>Paper Wireframes</h3>

			<p>For the first iteration of our app, I sketched up a low-fidelity wireframe with pencil and paper.</p>

			<h5 class="highlight-1">A student using the app will be able to:</h5>

			<p>
				<ol>
					<li>Connect with first-gen student alumni and upperclassmen, known as "Mentors" in the app.</li>
					<li>Engage in conversation and interact with Mentors to gain knowledge, know-all, and potential connections.</li>
					<li>Create an interactive profile of themselves, and view Mentors' profiles.</li>
					<li>Post questions and receive answers from Mentors, and read questions posted by other users of the app.</li>
				</ol>
			</p>

			<div class="spacer"></div>

		</div>

		<div class="content-column image-wrapper">

			<img class="shadow-medium" src="assets/pioneers/photo12.jpg">
			<div class="caption">All pages and components of the paper wireframe.</div>

		</div>

		<div class="content-column base-grid image-grid-3 width-limiter-wide">

			<div class="image-wrapper">
				<img class="width-limiter-250" src="assets/pioneers/add-mentors.png">
				<div class="caption smaller-font">Users swipe up on a Mentor card to add a Mentor to the "My Mentors" list. We wanted the add mentor interaction to feel more fun and less formal.</div>
			</div>


			<div class="image-wrapper">
				<img class="width-limiter-250" src="assets/pioneers/ask-a-question.png">
				<div class="caption smaller-font">Users can post questions on a variety of topics and invite Mentors to answer them.</div>
			</div>


			<div class="image-wrapper">
				<img class="width-limiter-250" src="assets/pioneers/read-questions.png">
				<div class="caption smaller-font">Users can read questions and answers posted by other users. They can follow other people's questions to indicate interest.</div>
			</div>


		</div>

		<a class="anchor" id="user-testing1"></a>

		<div class="content-column">

			<h3>User Testing<span class="highlight-3">&nbsp;&nbsp;First Iteration</span></h3>

			<p>We presented 3 users with our paper prototype and asked them to perform a set of tasks using the prototype's affordances. As this was the first time we presented the app to users, we focused more on what users thought about our concept.</p>

			<p>I facilitated the sessions by simulating the prototype's page changes in response to user actions. Users were encouraged to “think aloud” and provide feedback on experiences they found confusing, challenging, negative, positive, etc. We took note of both their verbal and non-verbal responses, and interviewed them post-session.</p>

			<div class="spacer"></div>

			<h5 class="highlight-1">What Users Liked</h5>

			<p>
				<ul>
					<li>All users mentioned that they liked the overall concept of the app.</li>
					<li>They agreed that cold-calling or reaching out to a complete stranger was daunting, and it would be good if the app can help with that.</li>
					<li>The "Journey" feature of the app was well-received and seen as unique for a networking app.</li>
					<li>Interviewees expressed the opinion that if they were added to the app as a Mentor, they would try to give advice and help as much as possible.</li>
				</ul>
			</p>

			<div class="spacer"></div>

			<h5 class="highlight-1">Issues Users Had</h5>

			<p>
				<ul>
					<li>Users mentioned that they wanted to see questions answered by a specific Mentor, as well as a list of their own questions.</li>
					<li>One user wanted the ability to message a Mentor before adding them.</li>
					<li>Users mentioned that they wanted the app to retain the element of “intimacy” found in "early Facebook", where things were less structured and networks were smaller. Mentees might retain 50 mentors but have little flow of information between the mentors and mentees.</li>
				</ul>
			</p>

			<div class="spacer"></div>

			<a class="anchor" id="medium-fidelity"></a>

			<h3>Medium-Fidelity Prototype</h3>

			<p>Next, I turned the paper prototype into a medium-fidelity prototype using Sketch. Design changes were drawn from a combination of insights gained from the user tests and a heuristic evaluation. Screens outlining the main app functions are shown below.</p>

		</div>



		<div class="content-column image-wrapper">

			<img  src="assets/pioneers/bottom-bar-diagram.png">

		</div>


		<div class="spacer"></div>



		<div class="content-column base-grid image-grid-3 width-limiter-1080">
			<div class="image-wrapper">
				<img class="width-limiter-250 shadow-light border-rounded-slight" src="assets/pioneers/mid-fidelity-prototype/12.png">
				<div class="caption smaller-font">
					<b>1. Your Profile (Homepage)</b>
					<div>The user’s profile page includes a <i>My Journey</i> section that summarizes key events of the user's college career. From the user tests, we wanted this page to feel more intimate than apps like LinkedIn.</div>
				</div>
			</div>

			<div class="image-wrapper">
				<img class="width-limiter-250 shadow-light border-rounded-slight" src="assets/pioneers/mid-fidelity-prototype/2.png">
				<div class="caption smaller-font">
					<b>2. Your Mentors</b>
					<div>The main page of the Mentors tab displays a list of mentors added by the user. The number of red stars indicates the Mentor's "upvotes" from answering questions on the app.</div>
				</div>
			</div>

			<div class="image-wrapper">
				<img class="width-limiter-250 shadow-light border-rounded-slight" src="assets/pioneers/mid-fidelity-prototype/1.png">
				<div class="caption smaller-font">
					<b>3. Add Mentors</b>
					<div>The user can swipe a Mentor card upwards to add a Mentor. Users can also message a Mentor using the green button before adding them (a requested feature from the user tests).</div>
				</div>
			</div>

			<div class="image-wrapper">
				<img class="width-limiter-250 shadow-light border-rounded-slight" src="assets/pioneers/mid-fidelity-prototype/3.png">
				<div class="caption smaller-font">
					<b>4. Mentor's Profile</b>
					<div>To lower the mental barriers of reaching out, the Mentor's profile displays the number of students who interacted with the Mentor recently.</div>
				</div>
			</div>

			<div class="image-wrapper">
				<img class="width-limiter-250 shadow-light border-rounded-slight" src="assets/pioneers/mid-fidelity-prototype/6.png">
				<div class="caption smaller-font">
					<b>5. Mentor's Journey</b>
					<div>The <i>Mentor's Journey</i> feature was designed in response to users finding it motivational to see successful examples of first-gen students and how they got to where they are.</div>
				</div>
			</div>

			<div class="image-wrapper">
				<img class="width-limiter-250 shadow-light border-rounded-slight" src="assets/pioneers/mid-fidelity-prototype/4.png">
				<div class="caption smaller-font">
					<b>6. Messages</b>
					<div>The <i>Messages</i> tab offers instant messaging for students and Mentors to chat with each other.</div>
				</div>
			</div>

			<div class="image-wrapper">
				<img class="width-limiter-250 shadow-light border-rounded-slight" src="assets/pioneers/mid-fidelity-prototype/7.png">
				<div class="caption smaller-font">
					<b>7. Ask a Question</b>
					<div>This tab allows a user to post a question to the Q&A page. The 6 category tags are common problem areas that we found through user research. Users can invite Mentors to answer a particular question.</div>
				</div>
			</div>

			<div class="image-wrapper">
				<img class="width-limiter-250 shadow-light border-rounded-slight" src="assets/pioneers/mid-fidelity-prototype/9.png">
				<div class="caption smaller-font">
					<b>8. Read Questions</b>
					<div>Users can read and follow questions posted by other students in this tab. Questions can be filtered by tags and are split into the user's <i>Feed</i>, <i>All Questions</i>, and <i>Most Popular</i> questions.</div>
				</div>
			</div>

			<div class="image-wrapper">
				<img class="width-limiter-250 shadow-light border-rounded-slight" src="assets/pioneers/mid-fidelity-prototype/11.png">
				<div class="caption smaller-font">
					<b>9. Mentor's Answer</b>
					<div>A Mentor can be thanked for answering a question, adding to the Mentor's total star count.</div>
				</div>
			</div>

		</div>




		<div class="spacer"></div>
		<div class="spacer"></div>




		<a class="anchor" id="user-testing2"></a>

		<div class="content-column">

			<h3>User Testing<span class="highlight-3">&nbsp;&nbsp;Second Iteration</span></h3>

			<p>We recruited 6 first-generation students for our second user test. Each 45-minute session was held individually with one facilitator and one notetaker. The medium-fidelity prototype was loaded onto a cellphone and presented to each participant. We assessed the prototype by examining the difficulties faced and emotions exhibited by each user, their "think-aloud comments, and their post-test interview responses.</p>

		</div>

		<div class="spacer"></div>


		<div class ="content-column">
			<h5 class="highlight-1">Finding 1 :</h5>
			<h5>Users did not know where their questions and posts went.</h5>
			<p>Many users were confused as to where their posting a question. They wanted to be able to follow up with the question and see older posts.</p>

			<h5 class="highlight-1">How I Changed The Design :</h5>

		</div>

		<div class="content-column image-wrapper width-limiter-wide">

			<img src="assets/pioneers/user-test-change1.png">

		</div>

		<div class="spacer"></div>
		<div class="spacer"></div>

		<div class ="content-column">
			<h5 class="highlight-1">Finding 2 :</h5>
			<h5>Users mistook their existing list of Mentors as new Mentors available for adding.</h5>
			<p>The default Your Mentors page acted as a potential red herring from the Add Mentors page. The user expected that Your Mentors is a list of new mentors for her to add, rather than a list of mentors that were already connected.</p>

			<h5 class="highlight-1">How I Changed The Design :</h5>

		</div>

		<div class="content-column image-wrapper width-limiter-wide">

			<img src="assets/pioneers/user-test-change2.png">

		</div>

		<div class="spacer"></div>
		<div class="spacer"></div>

		<div class ="content-column">
			<h5 class="highlight-1">Finding 3 :</h5>
			<h5>There was ambiguity between Message and Ask buttons on Mentor’s Profile.</h5>
			<p>Users were confused about the functionalities of the Messages and Ask function. It seemed as if both buttons performed similar functions, and they were unsure of which one to pick.</p>

			<h5 class="highlight-1">How I Changed The Design :</h5>

		</div>

		<div class="content-column image-wrapper width-limiter-wide">

			<img src="assets/pioneers/user-test-change3.png">

		</div>

		<div class="spacer"></div>
		<div class="spacer"></div>

		<div class ="content-column">
			<h5 class="highlight-1">Finding 4 :</h5>
			<h5>Users were more interested in the Read Questions feed than their own Profile page.</h5>
			<p>Users felt that it was unnecessary for their profile page to be the homepage, since they would seldom need to look at that. Instead, they wanted to read questions posted by other students.</p>

			<h5 class="highlight-1">How I Changed The Design :</h5>

		</div>

		<div class="content-column image-wrapper width-limiter-narrow">

			<img src="assets/pioneers/user-test-change4.png">

		</div>



		<a class="anchor" id="final-deliverable"></a>

		<div class="section-divider"><hr></div>


		<div class ="content-column">

			<h2>Final Deliverable</h2>

			<p>For the final high-fidelity prototype, I incorporated all of the changes resulting from the previous user test. I also created a new visual design that features lively colors and a more polished aesthetic overall. <a target="_blank" href="https://invis.io/7YGJIJ5DWHF">Try it out here!</a></p>

		</div>

		<div class="spacer"></div>

		<p class="caption"><i>Or try it out by clicking the app icon below.</i></p>

		<div class="content-column image-wrapper width-limiter-150">
			<a target="_blank" href="https://invis.io/7YGJIJ5DWHF">
				<img class="app-icon" src="assets/pioneers/pioneers-app-icon.svg">
			</a>
			<h3 class="caption">Pioneers</h3>
		</div>

		<div class="spacer"></div>


		<div class="content-column image-wrapper">

			<img  src="assets/pioneers/bottom-bar-diagram-new.png">

		</div>

		<div class="spacer"></div>


		<div class="content-column base-grid image-grid-3 width-limiter-1080">
			<div class="image-wrapper">
				<img class="width-limiter-250 shadow-light border-rounded-slight" src="assets/pioneers/high-fidelity-prototype/7.png">
				<div class="caption smaller-font">
					<b>1. Your Profile <i>(Homepage)</i></b>
					<div>The user’s profile page retains its structure from the medium-fidelity prototype but features a more lively color scheme. The <i>My Journey</i> section visually shows key events of the user's college career at Cornell.</div>
				</div>
			</div>

			<div class="image-wrapper">
				<img class="width-limiter-250 shadow-light border-rounded-slight" src="assets/pioneers/high-fidelity-prototype/9.png">
				<div class="caption smaller-font">
					<b>2. Your Mentors</b>
					<div>New main page of the Mentor’s Tab. Again, the user can swipe a Mentor card upwards to add a Mentor. The Mentor card’s color is now a bright orange to make it stand out better.</div>
				</div>
			</div>

			<div class="image-wrapper">
				<img class="width-limiter-250 shadow-light border-rounded-slight" src="assets/pioneers/high-fidelity-prototype/8.png">
				<div class="caption smaller-font">
					<b>3. Add Mentors</b>
					<div>The user’s list of mentors can be accessed from the Recommended Mentor’s page. The number of red stars indicates the Mentor's "upvotes" from answering questions on the app.</div>
				</div>
			</div>

			<div class="image-wrapper">
				<img class="width-limiter-250 shadow-light border-rounded-slight" src="assets/pioneers/high-fidelity-prototype/10.png">
				<div class="caption smaller-font">
					<b>4. Mentor's Profile</b>
					<div>To encourage users to message the mentor, the Message button shows the number of students who messaged the Mentor. The new Answers by Mentor button also allows users to see all past answers by that Mentor.</div>
				</div>
			</div>

			<div class="image-wrapper">
				<img class="width-limiter-250 shadow-light border-rounded-slight" src="assets/pioneers/high-fidelity-prototype/11.png">
				<div class="caption smaller-font">
					<b>5. Mentor's Journey</b>
					<div>The <i>Mentor's Journey</i> feature is another key element created as a response to users finding it motivational to see successful examples of first-gen students and how they got to where they are.</div>
				</div>
			</div>

			<div class="image-wrapper">
				<img class="width-limiter-250 shadow-light border-rounded-slight" src="assets/pioneers/high-fidelity-prototype/18.png">
				<div class="caption smaller-font">
					<b>6. Messages</b>
					<div>The <i>Messages</i> tab offers instant messaging for students and Mentors to chat with each other. It is accessible from multiple places in the Pioneers app.</div>
				</div>
			</div>

			<div class="image-wrapper">
				<img class="width-limiter-250 shadow-light border-rounded-slight" src="assets/pioneers/high-fidelity-prototype/20.png">
				<div class="caption smaller-font">
					<b>7. Ask a Question</b>
					<div>This tab allows a user to post a question to the Q&A page. The 6 category tags are common problem areas that we found through user research. Users can invite Mentors to answer a particular question.</div>
				</div>
			</div>

			<div class="image-wrapper">
				<img class="width-limiter-250 shadow-light border-rounded-slight" src="assets/pioneers/high-fidelity-prototype/2.png">
				<div class="caption smaller-font">
					<b>8. Read Questions</b>
					<div>The new homepage of the Pioneers app. Users can read and follow questions posted by other students in this tab. This redesigned page features the sections <i>Feed</i>, <i>All</i>, and <i>Your Posts</i>.</div>
				</div>
			</div>

			<div class="image-wrapper">
				<img class="width-limiter-250 shadow-light border-rounded-slight" src="assets/pioneers/high-fidelity-prototype/5.png">
				<div class="caption smaller-font">
					<b>9. Mentor's Answer</b>
					<div>A Mentor can be thanked for answering a question, adding to the Mentor's total star count.</div>
				</div>
			</div>

		</div>






		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>




		<div class ="content-column">

			<h3>Gallery</h3>

		</div>


		<div class="width-limiter-1080 base-grid image-grid-3 mobile-grid-2">

			<div class="image-wrapper">
				<img src="assets/pioneers/high-fidelity-prototype-mockup/1.png">
			</div>

			<div class="image-wrapper">
				<img src="assets/pioneers/high-fidelity-prototype-mockup/2.png">
			</div>

			<div class="image-wrapper">
				<img src="assets/pioneers/high-fidelity-prototype-mockup/3.png">
			</div>

			<div class="image-wrapper">
				<img src="assets/pioneers/high-fidelity-prototype-mockup/4.png">
			</div>

			<div class="image-wrapper">
				<img src="assets/pioneers/high-fidelity-prototype-mockup/5.png">
			</div>

			<div class="image-wrapper">
				<img src="assets/pioneers/high-fidelity-prototype-mockup/6.png">
			</div>

			<div class="image-wrapper">
				<img src="assets/pioneers/high-fidelity-prototype-mockup/7.png">
			</div>

			<div class="image-wrapper">
				<img src="assets/pioneers/high-fidelity-prototype-mockup/8.png">
			</div>

			<div class="image-wrapper">
				<img src="assets/pioneers/high-fidelity-prototype-mockup/9.png">
			</div>

			<div class="image-wrapper">
				<img src="assets/pioneers/high-fidelity-prototype-mockup/10.png">
			</div>

			<div class="image-wrapper">
				<img src="assets/pioneers/high-fidelity-prototype-mockup/11.png">
			</div>

			<div class="image-wrapper">
				<img src="assets/pioneers/high-fidelity-prototype-mockup/12.png">
			</div>

			<div class="image-wrapper">
				<img src="assets/pioneers/high-fidelity-prototype-mockup/13.png">
			</div>

			<div class="image-wrapper">
				<img src="assets/pioneers/high-fidelity-prototype-mockup/14.png">
			</div>

			<div class="image-wrapper">
				<img src="assets/pioneers/high-fidelity-prototype-mockup/15.png">
			</div>

			<div class="image-wrapper">
				<img src="assets/pioneers/high-fidelity-prototype-mockup/16.png">
			</div>

			<div class="image-wrapper">
				<img src="assets/pioneers/high-fidelity-prototype-mockup/17.png">
			</div>

			<div class="image-wrapper">
				<img src="assets/pioneers/high-fidelity-prototype-mockup/18.png">
			</div>

			<div class="image-wrapper">
				<img src="assets/pioneers/high-fidelity-prototype-mockup/19.png">
			</div>

			<div class="image-wrapper">
				<img src="assets/pioneers/high-fidelity-prototype-mockup/20.png">
			</div>

			<div class="image-wrapper">
				<img src="assets/pioneers/high-fidelity-prototype-mockup/21.png">
			</div>


		</div>



	</div>
</div>


<script>

	$('.mid-fidelity-carousel').flickity({
		// options
		groupCells: true,
		wrapAround: false,
		fullscreen: true,
		draggable: true,
		freeScroll: true
	});

	$('.high-fidelity-carousel').flickity({
		// options
		groupCells: true,
		wrapAround: false,
		fullscreen: true,
		draggable: true,
		freeScroll: true
	});

</script>

