/* ----- CSS Reset ----- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ----- My Own CSS ----- */

* {
	box-sizing: border-box;
}

body {
	background-color: #33333f;
	font-family: "Circular Std", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 14pt;
	line-height: 24pt;
	-webkit-font-smoothing: antialiased; 
	-apple-font-smoothing: antialiased; 
	font-smoothing: antialiased; 
	text-rendering: optimizeLegibility; 
	-webkit-font-feature-settings: "kern"; 
	-moz-font-feature-settings: "kern"; 
	-moz-font-feature-settings: "kern=1"; 
	-ms-font-feature-settings: "kern"; 
	-o-font-feature-settings: "kern"; 
	font-feature-settings: "kern"; 
	font-kerning: normal; 
}


a {
	text-decoration: none;
	color: #ffffff;
}

footer {

	padding: 50px;
	background-color: rgba(255, 255, 255, 0.05);
	color: #ffffff;
	text-align: center;
}



h1 {
	font-family: "Circular Std", sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	line-height: 0.75em;
	color: #ffffff;
	margin-bottom: 1em;
}

h2 {
	font-family: "Circular Std", sans-serif;
	font-weight: 400;
	font-size: 1.125em;
	line-height: 1.625em;
	color: #ffffff;
	margin-bottom: 1em;
}

h3 {
	font-family: "Circular Std", sans-serif;
	font-weight: 700;
	font-size: 1.4em;
	line-height: 0em;
	color: #182837;
	margin-bottom: 1.2em;
	padding-top: 1em;
}

h4 {
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5em;
	color: #555555;
	margin-bottom: 1em;

}

h5 {
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 400;
	font-size: 0.9em;
	line-height: 1.5em;
	color: #777777;
	margin-bottom: 1em;
}

h6 {

}





/* General */

.site-width-limiter {
	margin: 0 auto;
	max-width: 1200px;
	width:90%;
}


.spacer-small {
	font-size: 0; 
	height: 20px;
	line-height: 0;
}

.spacer-medium {
	font-size: 0; 
	height: 35px;
	line-height: 0;
}

.spacer-large {
	font-size: 0; 
	height: 50px;
	line-height: 0;
}

/* Index Page */

.navigation {
	height: 100px;
	margin: 0 auto;
	max-width: 1200px;
	width:85%;
	font-size: 13pt;
}

.nav-logo {
	width: 50px;
	height: 50px;
	text-decoration: none;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: left;
}

.nav-link {
	float: right;
	margin-left: 7%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.nav-link:link {

} 

.nav-link:hover {
	box-shadow: inset 0px -3px #50ebbe;
	/*	transition: border-bottom 0.1s ease-in-out;	*/
	color: #ffffff;
} 

.nav-link:active {
	box-shadow: inset 0px -3px #50ebbe;
	color: #ffffff;
} 

.nav-link:visited {

}

.hero {
	position: relative;
	height: 80vh;
	min-height: 500px;
	max-height: 1000px;
}

.hero-contents {
	position: absolute;
	top: 50%;
	transform: translateY(-65%);
	padding-left: 10%;
	padding-right: 10%;
	text-align: left;
	text-decoration: none;
	line-height: 48px;
	/*	margin-left: 4%;
	margin-right: 4%;
	padding-left: 8%;
	padding-right: 8%;
	border-left: 1px rgba(255,255,255,0.3) solid;*/
}

.hero-heading {
	display: inline-block;
	letter-spacing: -2pt;
	font-size: 40pt;
	font-weight: 900;
	color: #ffffff;
	margin-bottom: 35px;
	max-width: 400px;
}

.hero-tags {
	margin-top: 0vh;
	font-size: 17pt;
	font-weight: 700;
	color: rgba(210,210,255,0.4);
	max-width: 600px;
	line-height: 32px;
	margin-bottom: 25px;
}

.hero-text {
	margin-top: 0vh;
	font-size: 17pt;
	font-weight: 300;
	color: rgba(210,210,255,0.9);
	max-width: 600px;
}

.hero-color-highlight {
	background: linear-gradient(to right, #f7b0fe, #7fc9ff);
	-webkit-background-clip: text;
	color: rgba(255,255,255,0.1);
}

.hero-white-highlight {
	color: rgba(255,255,255,1);
}

.projects-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 100px;
	width:97%;
	margin-bottom: 200px;
	margin: 0 auto;
}




/* Index Cards */

.card {
	margin: 0 auto;
	overflow: hidden;
	transition: 0.2s;
	width: 300px;
	border-radius: 10px;
	background-color: rgba(245,245,255,0.95);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	height: 450px;
}

.card:hover {
	/*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
	box-shadow: 0 16px 28px rgba(0,0,0,0.25), 0 12px 10px rgba(0,0,0,0.22);
	transform: translate(0, -8px);
}



.card-image {
	width: 100%;
	height: 225px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.card-text {
	padding: 14px 20px 15px 25px

}

.card-text-tags {
	color: rgba(0,0,0,0.35);
	font-size: 11pt;
	font-weight: 700;
	margin-bottom: 3px;
}

.card-text-title {
	color: rgba(0,0,0,0.8);
	font-size: 16pt;
	font-weight: 700;
	margin-bottom: 15px;
}

.card-divider {
	margin-left: 0 auto;
	background: #aaa;
	width: 20px;
	height: 4px;
	border-radius: 10px;
	margin-bottom: 15px;
}

.card-text-desc {
	color: rgba(0,0,0,0.55);
	font-size: 12pt;
	font-weight: 400;
	line-height: 20pt;
}







/* Project Page */

.project-page {
	background-color: #ffffff;
	padding-top: 100px;
	padding-bottom: 100px;
}

.project-page-banner {
	width: 100%;
	height: 550px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.project-page-desc {
	height: 5px;
	background-color: #ffffff;
}


.project-page-prose {
	max-width: 700px;
	margin: auto;
	padding: 20px 50px 20px 50px;
}


.project-page-large-image {
	width: 80%;
	max-width: 900px;
	margin: 0 auto;
	margin-top: 5px;
}

.project-page-large-image img {
	width: 100%;
}




/*-- Tablet --*/
@media only screen and (max-width: 1075px) {
	.projects-grid {
		display: grid;
		grid-row-gap: 100px;
		grid-template-columns: repeat(2, 1fr);
		width:90%;
	}
}

/*-- Mobile --*/
@media only screen and (max-width: 767px) {

	h4 {
		font-size: 13pt;
	}

/*	.site-width-limiter {
		width:100%;
	}*/

	.navigation {
		font-size: 13pt;
		padding-right: 2%;
	}

	.hero {
		min-height: 400px;
	}

	.hero-contents {
		padding-left: 2%;
		padding-right: 2%;
		border: 0px;
	}

	.hero-heading {
		letter-spacing: -1pt;
		font-size: 28pt;
		margin-bottom: 40px;
	}

	.hero-tags {
		font-size: 14pt;
	}

	.hero-text {
		font-size: 15pt;
		line-height: 24pt;
		width: 100%;
		max-width: 400px;
	}

	.projects-grid {
		display: grid;
		grid-row-gap: 100px;
		grid-template-columns: repeat(1, 1fr);
		width:100%;
	}

	.project-page-banner {
		height: 300px;
	}

	.project-page-prose {
		padding: 20px 25px 20px 25px;
	}



}




/* Animations */














