/* ----- CSS Reset ----- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ----- My Own CSS ----- */

* {
	box-sizing: border-box;
}

body {
	background-color: #33333f;
	font-family: "Circular Std", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 12pt;
	line-height: 24pt;
	-webkit-font-smoothing: antialiased; 
	-apple-font-smoothing: antialiased; 
	font-smoothing: antialiased; 
	text-rendering: optimizeLegibility; 
	-webkit-font-feature-settings: "kern"; 
	-moz-font-feature-settings: "kern"; 
	-moz-font-feature-settings: "kern=1"; 
	-ms-font-feature-settings: "kern"; 
	-o-font-feature-settings: "kern"; 
	font-feature-settings: "kern"; 
	font-kerning: normal; 
}


a {
	text-decoration: none;
	color: #ffffff;
}


/*Generic container to limit width of content*/
.container {
	margin: 0 auto;
	max-width: 1200px;
	width:90%;
}

.navigation {
	margin: 0 auto;
	margin-top: 50px;
	font-size: 14pt;
	width:85%;
}

.nav-logo {
	text-decoration: none;
}

.nav-link {
	float: right;
	margin-left: 7%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.nav-link:link {

} 

.nav-link:hover {
	border-bottom: 3px solid #50ebbe;
/*	transition: border-bottom 0.1s ease-in-out;	*/
	color: #ffffff;
} 

.nav-link:active {
	border-bottom: 3px solid #50ebbe;
	color: #ffffff;
} 

.nav-link:visited {

}

.hero {
	padding-top: 25vh;
	padding-left:10%;
	text-align: left;
	text-decoration: none;
	line-height: 48px;
	height:100vh

}

.hero-heading {
	display: inline-block;
	letter-spacing: -2pt;
	font-size: 40pt;
	font-weight: 900;
	color: #ffffff;
	margin-bottom: 35px;
	max-width: 400px;
}

.hero-tags {
	margin-top: 0vh;
	font-size: 17pt;
	font-weight: 700;
	color: rgba(210,210,255,0.4);
	max-width: 600px;
	line-height: 32px;
	margin-bottom: 25px;
}

.hero-text {
	margin-top: 0vh;
	font-size: 17pt;
	font-weight: 300;
	color: rgba(210,210,255,0.9);
	max-width: 600px;
}

.hero-color-highlight {
	background: linear-gradient(to right, #f7b0fe, #7fc9ff);
	-webkit-background-clip: text;
	color: rgba(255,255,255,0.1);
}

.hero-white-highlight {
	color: rgba(255,255,255,1);
}


/* Cards */

.card {
	margin: 0 auto;
	overflow: hidden;
	transition: 0.2s;
	width: 300px;
	border-radius: 10px;
	background-color: rgba(245,245,255,0.95);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	height: 450px;
}

.card:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



.card-image {
	width: 100%;
	height: 225px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.card-text {
	padding: 14px 20px 15px 25px

}

.card-text-tags {
	color: rgba(0,0,0,0.35);
	font-size: 11pt;
	font-weight: 700;
	margin-bottom: 3px;
}

.card-text-title {
	color: rgba(0,0,0,0.8);
	font-size: 16pt;
	font-weight: 700;
	margin-bottom: 15px;
}

.card-divider {
	margin-left: 0 auto;
	background: #aaa;
    width: 20px;
    height: 4px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card-text-desc {
	color: rgba(0,0,0,0.55);
	font-size: 12pt;
	font-weight: 400;
	line-height: 20pt;
}





/* Homepage Grid */

.projects-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 100px;
	width:97%;
}


/* Tablet */
@media only screen and (max-width: 1023px) {
	.projects-grid {
		display: grid;
		grid-row-gap: 100px;
		grid-template-columns: repeat(2, 1fr);
		width:90%;
	}
}

/* Phone */
@media only screen and (max-width: 767px) {

.navigation {
	margin-top: 30px;
	font-size: 13pt;
	padding-right: 2%;
}



	.hero {
		padding-left: 2%;
	}

	.hero-heading {
		letter-spacing: -1pt;
		font-size: 32pt;
		margin-bottom: 40px;
	}

	.hero-tags {
		font-size: 14pt;
	}

	.hero-text {
		font-size: 15pt;
		line-height: 24pt;
		width: 100%;
		max-width: 400px;
	}

	.projects-grid {
		display: grid;
		grid-row-gap: 100px;
		grid-template-columns: repeat(1, 1fr);
		width:100%;
	}
}





















